

body {
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: auto;
}

html {
    overflow: hidden;
    height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}